.Plans_container {
    background-color: #f4f4f4;
    padding: 20px;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .plans-main {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  .plans_head {
    text-align: center;
    padding: 20px 0;
  }
  .plans_head h2{
    font-size: 3rem;
    font-weight: 500;
    font-variant: small-caps;
  }
  
  .Plan-container {
    display: grid;
    min-height: 70vh;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    overflow-x: none;
  }
  
  .plan {
    height: 70vh;
    overflow: scroll;
    border: 1px solid #ddd;
    border-radius: 10px;
 
  }
  
  .plan:hover {
    transform: scale(1.01);
  }
  
  .plan_head {
    background-color: #910A67;
    color: #fff;
    padding: 10px;
    font-size: 1.2em;
  }
  
  .plan_price {
    background-color: #d18bce;
    color: #fff;
    padding: 10px;
    font-size: 1.2em;
  }
  
  .plan ul {
    list-style-type: none;
    padding: 0;
  }
  
  .plan li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
  }
  
  .plan li:hover {
  background-color: #d18bce;
  }
  
  .plan li:last-child {
    border-bottom: none;
  }
  
  /* Responsive CSS */
  
  @media screen and (max-width: 600px) {
    .Plan-container {
      grid-template-columns: 1fr;
    }
  }