.slider-container {
  position: relative;
  width: 100%;
  transition: transform 0.5s ease; /* Add sliding animation */
  height: 100%;
  margin: 0 auto;
  overflow: hidden; /* Hide overflow to create the sliding effect */
}

.slider-image {
  width: 100%;
height: 100%;
  /* border: 1px solid #ddd; Add a border for aesthetics */
  transition: transform 0.5s ease; /* Add sliding animation */
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  padding: 8px 16px;
  background-color: #007bff; /* Customize the button styles */
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
}

.slider-button:hover {
  background-color: #0056b3; /* Change color on hover */
}

/* Additional styles for the sliding animation */
.slider-image-prev {
  transform: translateX(-100%);
}

.slider-image-next {
  transform: translateX(100%);
}

@media screen and (max-width: 768px) {
  .slider-image {
    width: 100%;
    height: 50vh;
  }
  .slider-container{
    height: 50vh;
  }
}
