.contact-section{
 
    width: 100%;
}

.contact-section .contact-bg{
    width: 100%;
    position: relative;
    height: 300px;
}
.contact-section .contact-bg::after{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background-color: #000000a3;
}
.contact-section .contact-bg img{
    width: 100%;
   
    height: 100%;
    object-fit: cover;
}

.contact-section .container{

    margin: 0 auto;
    padding: 30px 40px;
}

 .contact-heading{
    position: absolute;
    top: 0;
    z-index: 9;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.contact-heading span{
    font-size: 3rem;
    color: rgb(255, 255, 255);
    position: relative;
}

.contact-heading span::after{
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-color: rgb(190, 12, 175);
}