 

/* CSS styles */
.company-slider-containers {
    width: 100%;
    max-width: 1650px; /* Adjust the maximum width as needed */
    margin: 0 auto;
    padding: 2rem 2rem;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    /* border-radius: 16px; */
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
    margin-top: 20px!important;
  }
  .slides-containers{
    width: 100%;
  }
  .slider-container img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: fill!important;
       object-fit: fill!important;
  }
  
  .slider-containers {
    position: relative;
    overflow: hidden;
  }
  .slider-container h4 {
    text-align: center;
    font-size: 2rem;
    color: blueviolet;
  }
  
  
  .img-slider-boxs img {
    width: 100%;
    height: 200px!important;
    -o-object-fit: fill;
       object-fit: fill;
  }
  